/* Style.css */
* {
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: Century Gothic, sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 36px;
  padding: 20px;
  width: 100%;
  text-align: center;
}

h2 {
  font-size: 20px;
  padding: 20px;
  text-align: center;
  background-color: lightgrey;
  width: 100%;
}

.topics li {
  font-size: 14px;
  float: left;
  width: 25%;
  margin-top: 15px;
  margin-bottom: 5px;
  padding-left: 5px;

}

.aboutmuse {
  clear: both;
  padding: 20px;
  width: 100%;
}

button {
  padding: 20px;
  background-color: lightblue;
  font-size: 14px;
}

.meetmuse {
  font-size: 20px;
  padding: 20px;
  text-align: center;
  background-color: lightgrey;
  width: 100%;
}

footer {
  padding: 20px;
  text-align: center;
  background-color: lightgrey;
  width: 100%;
}

.footerbutton button {
  margin-top: 10px;
  padding: 10px;
  background-color: lightgreen;
  font-size: 10px;
  clear: both;

}
