/* Style.css */
* {
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: Century Gothic, sans-serif;
  font-size: 16px;
}

header .investing {
  background: url("../images/investing.jpg");
  background-size: cover;

}

header .investing h1 {
  height: 150px;
}

header .health {
  background: url("../images/health.jpg");
  background-size: cover;
}

header .health h1 {
  height: 150px;
}

header .politics {
  background: url("../images/politics.jpg");
  background-size: cover;
}

header .politics h1 {
  height: 150px;
}

header .other {
  background: url("../images/chalk.jpg");
  background-size: cover;

}

header .other h1 {
  height: 150px;
}

h1 {
  font-size: 3rem;
  padding: 20px;
  width: 100%;
  text-align: center;
  box-shadow: 10px 10px 5px #888888;

}


h2 {
  font-size: 1.5rem;
  padding: 20px;
  text-align: center;
  background-color: lightgrey;
  width: 100%;
}

.topics li {
  font-size: 1rem;
  float: left;
  width: 25%;
  margin-top: 15px;
  margin-bottom: 5px;
  padding-left: 5px;

}

.aboutmuse {
  clear: both;
  padding: 20px;
  width: 100%;
}

button {
  padding: 20px;
  background-color: lightgrey;
  font-size: 14px;
}

.meetmuse {
  font-size: 1rem;
  padding: 20px;
  text-align: center;
  background-color: slategrey;
  width: 100%;
}

.profilewrap {
  clear: both;
  padding: 1%;
  width: 100%;
  margin: 1%;
}

footer {
  padding: 20px;
  text-align: center;
  background-color: lightgrey;
  width: 100%;
  display: block;
  clear: both;
}

.footerbutton button {
  margin-top: 20px;
  padding: 10px;
  background-color: slategrey;
  font-size: 10px;
  clear: both;
  color: white;

}

.profile p {
  margin-top: 20px;
  margin-left: 175px;
  margin-right: 5%;
  font-size: 1.1rem;

}

.profile {
  float: left;
  margin: 10px;

}

.article {
  width: 65%;
  float: left;
  margin-right: 3%;
}

.article h3 {
  font-size: 1.5rem;
  padding: 2%;
}

.article p {
  font-size: 1rem;
  padding: 2%;
}

.pastarticle {
  float: left;
  width: 30%;
}

.pastarticle h3 {
  padding: 2%;
  font-size: 1.5rem;
}

.pastarticle li {
  padding: 2%;
}

a {
  text-decoration: none;
  color: slategrey;
}

.space {
  width: 100%;
  background-color: white;
  padding: 20px;
  box-shadow: 0, 10, 10, 0;
}
